.main-body {
    display: flex;
    justify-content: center;
    height: 88vh;
   
}

.btn.main-btn {
    border: 1px solid teal;
    width: 10em;
    height: 5em;
    align-self: center;
    display: flex;
    place-content: center;
}
.btn.main-btn a {
    text-decoration: none;
    color: white;
    align-self: center;
    font-size: 1.4em;
    
}
.main-body form {
    padding: 20px;
}